<h1>Listing filelists</h1>

<table>
  <tr>
    <th>Hash</th>
    <th>Name</th>
    <th>Size</th>
    <th>Downloaded</th>
  </tr>

<% for filelist in @filelists %>
  <tr>
    <td><%=h filelist.hash %></td>
    <td><%=h filelist.name %></td>
    <td><%=h filelist.size %></td>
    <td><%=h filelist.downloaded %></td>
    <td><%= link_to 'Show', filelist %></td>
    <td><%= link_to 'Edit', edit_filelist_path(filelist) %></td>
    <td><%= link_to 'Destroy', filelist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New filelist', new_filelist_path %>
