<h1>New filelist</h1>

<% form_for(@filelist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :torrent_hash %><br />
    <%= f.text_field :torrent_hash %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :downloaded %><br />
    <%= f.text_field :downloaded %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', filelists_path %>
