<p>
  <b>Torrent hash:</b>
  <%=h @filelist.torrent_hash %>
</p>

<p>
  <b>Name:</b>
  <%=h @filelist.name %>
</p>

<p>
  <b>Size:</b>
  <%=h @filelist.size %>
</p>

<p>
  <b>Downloaded:</b>
  <%=h @filelist.downloaded %>
</p>


<%= link_to 'Edit', edit_filelist_path(@filelist) %> |
<%= link_to 'Back', filelists_path %>
