<h1>Listing trackers</h1>

<table>
  <tr>
    <th>Torrent hash</th>
    <th>Url</th>
  </tr>

<% for tracker in @trackers %>
  <tr>
    <td><%=h tracker.torrent_hash %></td>
    <td><%=h tracker.url %></td>
    <td><%= link_to 'Show', tracker %></td>
    <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
    <td><%= link_to 'Destroy', tracker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tracker', new_tracker_path %>
